/* Updated December 18, 2019 */

BODY { background-color: #005577; 
       font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; 
       font-size:13px; 
       margin:0px;
       background-image: url(/images/bgr.gif);
       background-repeat:repeat-x}

/* Links */

.MAJOR-1, .WOMEN-1 {background-color: rgba(255, 165, 0, 0.45);
}

.MAJOR-2 {background-color: rgba(255, 165, 0, 0.3);
}

.EUROEL-1 {background-color: rgba(71, 159, 47, 0.5);
}

.EUROEL-2 {background-color: rgba(71, 159, 47, 0.4);
}

.ENONEL-1 {background-color: rgba(71, 159, 47, 0.3);
}

.ENONEL-2 {background-color: rgba(71, 159, 47, 0.2);
}

.MAJJUN-1 {background-color: rgba(0, 111, 255, 0.30);
}

.CANJRA-1 {background-color: rgba(0, 111, 255, 0.20);
}

.CANJRA-2 {background-color: rgba(0, 111, 255, 0.10);
}

.CANJRB-1 {background-color: rgba(31, 135, 192, 0.15)
}

.SENAM-1 {background-color: rgba(175, 154, 8, 0.28);
}

.SEMI-1 {background-color: rgba(255, 0, 0, 0.12);
}

.MINPRO-1 {background-color: #f5abab;
}

.MINPRO-2 {background-color: rgba(255, 0, 0, 0.25);
}

.MINPRO-3 {background-color: rgba(255, 0, 0, 0.18);
}

.COLLEG-2 {background-color: rgba(95, 77, 195, 0.25);
}

.COLLEG-1 {background-color: rgba(95, 77, 195, 0.40);
}

.USJRA-1 {background-color: rgba(129, 106, 78, 0.40);
}

.USJRA-2 {background-color: rgba(129, 106, 78, 0.25);
}

.USJRA-3 {background-color: rgba(129, 106, 78, 0.15);
}


A {text-decoration: none; font-weight:bold; color: blue;}
A:link {text-decoration: none; font-weight:bold; color: #FFFFFF;}
A:visited {text-decoration: none; font-weight:bold; color:#FFFFFF;}
A:active {text-decoration: none; font-weight:bold; color:#FF0000}
A:hover {text-decoration: underline; font-weight:bold; color: #FF0000;}

.sprite{
  background:url('/images/pdisplay_buttons.gif') no-repeat left top transparent ;
}

.desktop {
   display:inherit;
}

.mobile {
   display:none;
}

.button{
  background-position: 0 0 ;
  display:block;
  height:25px;
  width:100px;
  margin-left:5px;
}

.button:hover{
  background-position: 0 -25px;
  display:block;
  height:25px;
  width:100px;
}

.button:active{
  background-position: 0 -50px;
  display:block;
  height:25px;
  width:100px;
}

.trades{ 
  background-position: 0 -150px;
  display:block;
  height:25px;
  width:100px;
  margin-top:10px;
  margin-left:5px;
}

.trades:hover{
  background-position: 0 -175px;
  display:block;
  height:25px;
  width:100px;
}

.trades:active{
  background-position: 0 -200px;
  display:block;
  height:25px;
  width:100px;
}

.trades1{
  background-position: 0 -75px;
  display:block;
  height:25px;
  width:100px;
  margin-top:10px;
  margin-left:5px;
}

.trades1:hover{
  background-position: 0 -100px;
  display:block;
  height:25px;
  width:100px;
}

.trades1:active{
  background-position: 0 -125px;
  display:block;
  height:25px;
  width:100px;
}

.title {font-size:large; font-weight:bold; padding: 3px 3px 3px 3px;margin:0px;}
.breadcrumb {margin:5px 5px 10px 5px;}
.breadcrumb1 {margin: -10px 5px 5px 5px;}
.description {margin:5px 5px 5px 5px;}
.social {}
.draft_category {border-color:gray; border-width:1px;border-style:solid;}
.draft_head {float:none; padding-bottom:5px; padding-top:5px; text-align:center; border-style: solid; border-color:gray; border-width:1px;}
.draft_container {float:none; padding: 5px 5px 10px 10px; background-color:NavajoWhite;} 
.draft_line {float:left; height:20px; width:170px;}

.inactive {background-color: #e6e4e4 !important;}
.brd {border: 2px solid #005577 !important;}
thead.brd {border: 2px solid #005577}
tbody.brd  {border: 2px solid #005577}
tfoot.brd  {border: 2px solid #005577}

/* Alignment */

.r {text-align: right !important;}
.l {text-align: left !important;}
.c {text-align: center !important;}
.i {font-style: italic !important;}
.b {font-weight: bold !important;}

.hidden {display:none;}

/* Data Tables */

.norow   {border-style: none; background-color: #FFFFFF; border-width: 0px; border-style: solid;}    /* To make a cell or row invisible */
.hidden  {display:none;}                                     /* To hide a row in a sortable table */
.morepad {padding: 5px 8px 5px 8px !important;}
.wr {white-space: normal !important;}
.ti {font-size:11px !important;}
.reg {font-size:13px;}
.in1 {margin-left:5% !important;}
.ol {border-style:solid !important; border-collapse: collapse !important; border-color: #c6c6c6 !important; border-width: 2px !important;}
.rtab {-moz-border-radius: 10px 10px 0px 0px !important; height:20px !important;}
.cardset {float:left; width:198px; margin-bottom:10px; margin-top:10px; text-align:center;}
.image_1 {clear:left;}

#card_image {display:none;}

.logo_group {float:left; width:198px; margin-bottom:10px; margin-top:10px;
text-align:center; display:table; position:relative;
vertical-align:middle; height: 130px;}

.logo_content {display:table-cell; position:relative;
vertical-align:bottom; width:100%}

.vw {}

.v1 {width:375px; 
     float:left; 
     border: 1px pink solid;
     background-color: #e1e4ee;
     padding-right:5px;
     padding-bottom:5px;}

.v1-1 {margin-left:10px;
      }

.v1-5 {float:left;
       width: 115px;
       -width:115px;
       text-align:center;
      }

.v2 {width:240px; 
     height:200px;
     margin-bottom:-25px;
     float:left; 
     padding-right:0px;
     padding-bottom:5px;}

.v3 {float:left; 
     width:150px;
     margin-top:10px;
     margin-bottom:-35px;
     padding-bottom:5px;}

.vd {float:left; 
     padding-bottom:10px;
     padding-left:10px;
     margin-top:5px;
     width:375px}

.vw {float:left;
     width: 385px;}

.social_container {float:left;
                   margin-bottom:-25px;
                   margin-top:10px;
                   height:65px;
                   width:105px;}

.st {width:740px;}
.vd A:link {color: #CE0000;}
.vd A:visited {color: #CE0000;}

.pdt A:link {color: black; font-weight:normal;}
.pdt A:visited {color: blue; font-weight:normal;}

.unified {background-color:#117297; 
          margin:10px; 
          width:1100px; 
          float:left;
          max-width:1100px;
}

.tablebg {background-color: #FFFFFF; 
          padding: 8px;
          float: left; 
          border: 1px solid #000000; 
          margin: 8px 0px 8px 8px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px;
}

.multitable {
          padding: 0px 0px 0px 0px; 
          float: left; 
          margin: 0px 0px 0px 0px;
          width:765px;
}

.tablebgl {background-color: #FFFFFF; 
           padding: 10px 20px 10px 20px; 
           float: left; 
           border: 1px solid #000000; 
           margin: 10px 0px 10px 20px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
           border-radius: 10px;
}


.sponsor {#background-color: #117297;
          #padding: 5px 5px 5px 5px; 
          float: left; 
          #border: 2px solid #FFE400; 
          margin: 10px 0px 10px 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px;
}

table.sample {
	border-width: thin thin thin thin;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: collapse;
	background-color: white;
}
table.sample th {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: inset inset inset inset;
	border-color: black black black black;
	background-color: #CCB48F;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.sample td {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: inset inset inset inset;
	border-color: black black black black;
	background-color: #FFF8D9;
	-moz-border-radius: 0px 0px 0px 0px;}


.tablebg table {
   background-color: #FFFFFF; 
   border-collapse: collapse; 
   border-color: black; 
   border-width: 1px;
   clear:left;
   width:100%;
   font-size:13px;
}

.goalietab {
   width: inherit !important;
}

#tradekey {
    float: left;
    background-color: #0189c3;
    width: 98%;
    text-align: center;
    color: white;
    padding: 5px;
    margin-bottom: 7px;
    margin-left: -5px;
    font-weight: bold;
}

#tradekeycontainer {
    float: right;
    width: 200px;
    border: thin black solid;
    margin-top: -15px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#goalie_scoring {
   float:left;
}

.tablebg tr {border-width: 0px; border-style: none; border-color: white;}
.tablebg th {white-space:nowrap; padding: 4px; border-width: 1px; border-color: white; border-style: solid;}
.tablebg td {white-space:nowrap; padding: 4px; border-collapse: collapse; border-width: 1px; border-color: #757373; border-style: solid; text-align: right;}

.tablebgl table {background-color: #DBEBF2; border-collapse: collapse; border-color: black; border-width: 1px;}
.tablebgl tr {border-width: 0px; border-style: none; border-color: white;}
.tablebgl th {white-space:nowrap; padding: 4px; border-width: 1px; border-color: white; border-style: solid;}
.tablebgl td {white-space:nowrap; padding: 4px; border-collapse: collapse; border-width: 1px; border-color: white; border-style: solid; text-align: left;}

.tablebg A {color:#117297; text-decoration:none;}
.tablebg A:link {}
.tablebg A:hover {text-decoration:underline;}
.tablebg A:visited {color: #821296; }

.tablebgl A {color:#117297; text-decoration:none;}
.tablebgl A:link {}
.tablebgl A:hover {text-decoration:underline;}
.tablebgl A:visited {color: #821296; }

.vanish A {text-decoration:none; font-weight:normal !important; color: #000099;}
.vanish A:link {}
.vanish A:hover {text-decoration:underline !important;}
.vanish A:visited {color: #821296; }

.cube {margin-bottom:0px; text-align:center;}

.c_sec_head  {font-weight:bold; background-color: #0189C3; color: #FFFFFF;}
.c_sec_foot  {font-weight:bold; background-color: #0189C3; color: #FFFFFF;}

.c_sort_head {font-weight:bold; color: #FFFFFF; background-color: #005577;}
.c_sort_head A:link {text-decoration: none; font-weight:bold; color: #FFFFFF;}
.c_sort_head A:hover {text-decoration: underline; font-weight:bold; color: red;}
.c_sort_head A:visited {text-decoration: none; font-weight:bold; color:#FFFFFF;}

.revlink A {color: #FFFFFF; font-weight:bold; text-decoration:none;}
.revlink A:link {text-decoration:none; color: #FFFFFF;}
.revlink A:visited {text-decoration:none; color: #FFFFFF;}
.revlink A:hover {text-decoration:underline; color: red;}

.hilite {background-color: #e0f5c5; color:#000099;}

.wrap_600 {margin-bottom:10px; word-wrap: break-word; width:600px;}
.wrap_400 {margin-bottom:10px; word-wrap: break-word; width:400px;}
.trade_text {margin-bottom:10px;}

#team_info_section     {text-align: center; width: 225px;}
#franchise_section     {width: 100%; margin-bottom: 10px; }
#related_teams_section {width: 100%;}
#related               {width: 283px;float:left;margin-left:10px;}
#contracts             {width: 283px;float:left;margin-left:10px;}
#logo_section          {text-align: center; margin-top: 10px; width:100%;}
#program_section       {text-align: center; margin-top: 10px; width:100%;}
#franchise_team        {float:left; margin-left:10px; max-width:415px;}
#tidbit_section        {width: 100%; margin-top: 10px;} 
#parent_team_section   {width: 100%; margin-top: 10px;} 
#farm_team_section     {width: 100%; margin-top: 10px;} 

.capline A {color:#117297; text-decoration:none;}
.capline A:link {text-decoration:none; font-weight: normal; color: #000000;}
.capline A:hover {text-decoration:underline; font-weight: normal; color: #000000;}
.capline A:visited {text-decoration:none; font-weight: normal; color: #821296; }


.team_section {border: 1px solid #117297; float: left; clear: left;}
.team_header {font-size:large; font-weight:bold; padding: 3px; margin:0 0 3px 0; background-color:#b0beea; text-align: center;}
.cellpad {padding: 0px 5px 3px 10px;}


/* Header Bar */

#hb_black {background-color:black; 
           height:65px; 
           border-width:1px 0px 1px 0px; 
           border-color:#80a0a9; 
           border-collapse: collapse; 
           border-style: solid;            
           color:white;
}

#hdb_logo_divv
  {
   display:none;
  }

#hb_image {float:left;
           margin-left:50px;
           margin-top:27px;
}

#hb_red {float:right; 
         background-color:#ce0000; 
         padding-top:5px;
         padding-left:10px;
         padding-bottom:6px;
         width: 66%; height:54px;
}

#hb_form1 {float:left; margin-top:20px}
#hb_form2 {float:left; margin-top:15px; margin-left:10px}

#footer_bar {background-color: #CE0000; 
             border-collapse: collapse; 
             border-style: none; 
             color: #EAC4C4;
             text-align: center;
             font-weight: normal;
             font-size:11px;
             text-decoration: none;
}

#footer_bar A:link {text-decoration:none; font-weight: normal; color: #FFFFFF;}
#footer_bar A:hover {text-decoration:underline; font-weight: normal; color: #FFFFFF;}
#footer_bar A:visited {text-decoration:none; font-weight: normal; color: #FFFFFF;}

#footer_bar {clear:both; background-color:#003746; text-align:center; color: #FFFFFF
}

#footer_cell {border-color:#80A0A9;
background-color: #ce0000;
border-style:solid;
border-width:1px 0;
padding:10px 0;}


#footer_cell A:link {text-decoration:none; font-weight: normal; color: #FFFFFF;}
#footer_cell A:hover {text-decoration:underline; font-weight: normal; color: #FFFFFF;}

#bottom_cell {background-color: #003746;}

#menurow {background-image:url(/images/menu_bgr.gif)}


/* eBay styles */

.ebay-container {background-color:#117297;
                 font-family:Arial,Helvetica,sans-serif;
                 border:1px solid #80A1AA;
                 font-size:13px;
                 padding:10px 10px 0px 10px;
                 width:250px;
                 -moz-border-radius: 10px;
                 border-radius: 10px;
                 -webkit-border-radius: 10px;}

.item-container A img {border:none;
                       font-weight:normal;}

.item-container A:link {color: #FFFFFF;
                        font-weight:normal;
                        text-decoration:none}

.item-container A:visited {color: #FFFFFF;
                           font-weight:normal;
                           text-decoration:none}

.item-container A:hover {color: #FFFFFF;
                        font-weight:normal;
                        text-decoration:underline}

.item-container {background-color:#00567B;
border:1px solid yellow;
margin-bottom:10px;
height:100px;
padding:10px;
width:230px;
text-align:right;}
                
.picture-container {float:left;
width:100px;
height:100px;
overflow:hidden;
margin-right:10px;}

.title-container {color:#FFFFFF;
float:right;
font-size:12px;
height:75px;
width:120px;
_width:100px;}

.price-container {color:#C4E3EF;
float:right;
width:120px;}

.time-left-container {color:#C4E3EF;
float:right;
width:120px;}

/* eBay cube styles */

.ebay-cube-container {background-color:#117297;
                 font-family:Arial,Helvetica,sans-serif;
                 border:1px solid #80A1AA;
                 font-size:13px;
                 padding:10px 10px 0px 10px;
                 width:250px;
                 -moz-border-radius: 10px;
                 border-radius: 10px;
                 -webkit-border-radius: 10px;}

.item-cube-container A img {border:none;
                       font-weight:normal;}

.item-cube-container A:link {color: #FFFFFF;
                        font-weight:normal;
                        text-decoration:none}

.item-cube-container A:visited {color: #FFFFFF;
                           font-weight:normal;
                           text-decoration:none}

.item-cube-container A:hover {color: #FFFFFF;
                        font-weight:normal;
                        text-decoration:underline}

.item-cube-container {
                          background-color:#CE0000;
                          border:1px solid #80A1AA;
                          margin-bottom:10px;
                          margin-left:auto;
                          margin-right:auto;
                          height:125px;
                          padding:5px;
                          width:150px;
                          _width:150px;
                          text-align:right;
                          position:relative;
                          }
                
.picture-cube-container {float:left;
                         height:70px;
                         width: 80px;
                         overflow:hidden;
}

.title-cube-container {color:#FFFFFF;
                       float:left;
                       font-size:11px;
                       text-align:left;
                       width: 150px;
                       }

.price-cube-container {color:#C4E3EF;
                       float:right;
                       width:60px;
                       _width:60px;
                       margin:0px;
                       padding:0px;
                       font-size:13px;
                       font-weight:bold;
}

.logo-cube-container {color:#C4E3EF;
                      width:60px;
                      _width:60px;
                      margin:0px;
                      padding:0px;
                      float:right;
}

.time-left-cube-container {color:#C4E3EF;
                           float:right;
                           width:60px;
                           _width:60px;
                           margin:0px;
                           padding:0px;
                           font-size:9px;
}

.roster_container {float:left; clear:both; margin-bottom:2px; margin-right:2px; height:202px; width:455px; border:1px solid RosyBrown;clear:right;}
.roster_photo {float:left; width:197px; padding-left:4px; overflow:hidden;}
.roster_vitals {float:left; padding-left:5px; padding-top:12px; width:248px;}
.roster_name {float:left; clear:both}
.roster_birthdate {float:left; clear:both; margin-left:4px;}
.roster_position {float:left; clear:both; margin-left:4px;}
.roster_birthplace {float:left; clear:both; margin-left:4px;}
.roster_height {float:left; clear:both; margin-left:4px;}
.roster_weight {float:left; clear:both; margin-left:4px;}
.roster_shoots {float:left; clear:both; margin-left:4px;}
.roster_draft {float:left; clear:both; margin-left:4px;}
.roster_source {float:left; clear:both; margin-left:4px;}


@media (max-width: 760px) {

.wrap_600, .wrap_400 {width:inherit;}

.cardset {width:149px;}
.image_1 {clear:inherit;}
#card_image {display:inherit;}

body {
   background-image:inherit;
}

.desktop {
   display:none;
}

.mobile {
   display:inherit;
}


.description {
   font-size:16px;
}

/* PDisplay */

#300_160_300 {
   margin-top: -10px !important;
  }

.sponsor {
   clear:both;
   margin-left: auto;
   margin-right: auto;
   float: unset;
}

#related {
   width: 338px;
   clear:both;
   margin-left: auto;
   margin-right: auto;
   float: unset;
}

#contracts {
   width: 338px;
   clear: both;
   margin-left: auto;
   margin-right: auto;
   float: unset;
}


.multitable {
   width: 375px;
   overflow: hidden;
  }

.social_container {
   margin-bottom:-25px;   
   margin-top:19px;
   height:38px;
   width:105px;
  }

.v1 {
   width:190px;
  }

.v2 {
   margin-bottom:-25px;
   margin-top:-135px;
   float:right;
   margin-right:389px;
   padding-bottom:30px;
  }

.v1-5 {
   margin-top: -77px;
  }

.vtr {
   width:340px;
  }

.hometown, .vitals_metric, .bdate {
   display:inline-block;
   width: 160px;
  }

.pds {
   width:60px;
  }

.pdl {
   width:59px;
  }

.pdt {
   width:166px;
  }

.pdgp {
   width:36px;
  }

.vd {
   display:none;
  }

.expand {
  margin-left:324px;
  margin-top: 35px;
  margin-bottom:-70px;
  }

/* HeaderBar */

#hb_form_resp
  {
   height:45px;
   width:162px;
   float:left;
  }
#hb_form1
  {
   margin-top:5px;
  }
#hb_form2
  {
   margin-left:6px;
  }
#hb_search_resp
  {
   height:30px;
   margin-left:5px;
   margin-top:5px;
   font-size:20px;
   width:140px;
  }
#hb_search_text_resp
  {
   font-size:17px;
   color:white;
   width:75px;
   float:left;
  }
#hb_red
  {
   width:inherit;
   padding-left:0px;
   margin-left: auto;
   margin-right: auto;
  }
#hdb_logov
  {
  }
  
#hdb_logo_div
  {
   display:none;
  }
  
#hdb_logo_divv
  {
   float:left;
   margin-top:8px;
   display: inline;
  }
#hb_image, #hb_ad
  {
   display:none;
  }
#hb_black
  {width:320px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   float:left;
   margin-top: 10px;
  }
#headerbar
  {
   display:none;
  }
#topad
  {
   display:inherit !important;
   text-align:inherit !important;
   float:left !important;
   height:inherit !important;
   padding-top:inherit !important;
   width:320px !important;
   margin-left:auto;
   margin-right:auto;
   overflow:hidden;
  }
#footer_bar
  {
   float:inherit;
   width:320px;
   background-color:red;
   margin-left:auto;
   margin-right:auto;
  }
#bottom_cell
  {
   display:none;
  }


}